---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Shogun — Advanced and versatile Discord bot',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Invite Shogun', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:apps-filled' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: '~/assets/images/hero.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Shogun</span> | Advanced <span class="hidden xl:inline"
        >and versatile</span
      > Discord Bot for the people
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Her excellency, the Almighty Narukami Ogosho, God of Thunder as a Discord Bot.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       <span class="font-semibold">Shogun</span> was made to cater to advanced and specific needs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Shogun"
    subtitle="Based on an open-source project, Red Discord Bot. Features are made possible by a community developers all over the world."
    items={[
      {
        title: 'Customization without complexity',
        description:
          'Shogun was created with advanced customization in mind while still being easy to learn so you don\'t have to spend hours figuring something out.',
        icon: 'tabler:square-plus',
      },
      {
        title: 'Over 70+ cogs of varying features',
        description:
          'Shogun make use of open-source cogs (plugins) made by creators from all over the world. The source code can be viewed by anyone on the internet.',
        icon: 'tabler:components',
      },
      {
        title: 'Proper uptime monitoring',
        description:
          'Shogun and other subservices of Project MEI are monitored by 2 separate applications for maximum availability.',
        icon: 'tabler:heart-rate-monitor',
      },
      {
        title: 'Respectable performance',
        description:
          'Shogun is hosted on a powerful Virtual Private Server (VPS) for the best performance. (Ryzen 9 5950X)',
        icon: 'tabler:rocket',
      },
      {
        title: 'No paywalled feature',
        description:
          "Shogun wasn't created to gain profit, but donations for keeping the hosting cost low is always appreciated.",
        icon: 'tabler:cash-off',
      },
      {
        title: 'Open to new idea and suggestion',
        description:
          'Shogun is always open to feedbacks for improvement.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Functionalities"
    title="Highlight of Shogun's features"
    items={[
      {
        title: 'An instance of an open-source Discord Bot',
        description:
          'Benefiting from one of the biggest open-source Discord bot on GitHub, Red Discord Bot. All of Shogun\'s core codebase is not modified from the original project.',
		icon: 'tabler:heart-code',
      },
      {
        title: 'Tuned and customized by a fellow developer',
        description:
          'Some of Shogun\'s cogs are made by Raiden, Shogun\'s author himself. While other functionalities are picked based on their quality and UX.',
		icon: 'tabler:brand-github',
      },
      {
        title: 'High availability',
        description:
          'Shogun maintains over 99% uptime, ensuring stability and reliability.',
		icon: 'tabler:24-hours',
	  },
    ]}
    image={{
      src: '~/assets/images/art.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Built by talented developers</h3>
       Cogs made for Red Bot that can be used by anyone, including Shogun.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Music playback without paywall',
        description: `With selfhosted Lavalink server, Shogun can play music effortlessly with no length limit.`,
		icon: 'tabler:music-code',
      },
      {
        title: 'Advanced reminders',
        description:
          'Shogun can schedule multiple and unlimited repeating reminders. No more running the reminder command every week.',
		icon: 'tabler:list-check',
      },
      {
        title: 'Features tailored to advanced users who need the customizability',
        description:
          "Match messages and send appropriate response based on Regex or setup CRON schedules, the option is yours.",
		icon: 'tabler:user-cog',
      },
      {
        title: 'And a lot more',
        description:
          'Explore all of Shogun\'s features via the intuitive help menu.',
		icon: 'tabler:plus',
      },
    ]}
    image={{
      src: '~/assets/images/service.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Serving features that everyone deserve.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Main Offsite monitoring',
        description: '<span class="text-accent dark:text-white highlight"> <a target="_blank" href="https://status.project-mei.xyz/">Monitoring site </a> </span> powered by Uptime Kuma. All of the subservices are monitored on an appropriate interval.',
		icon: 'tabler:clock-record',
      },
      {
        title: 'Public Grafana Metrics',
        description:
          'View Shogun\'s statistics displayed in a neat graph on our self-hosted Grafana instance <span class="text-accent dark:text-white highlight"> <a target="_blank" href="https://graph.project-mei.xyz/dashboards">here.</a> </span>',
		icon: 'tabler:chart-bar',
	  },
      {
        title: 'VPS statistics at a glance',
        description:
          'View VPS resource usage on our <span class="text-accent dark:text-white highlight"> <a target="_blank" href="https://home.project-mei.xyz/">dashdot page.</a></span>',
		icon: 'tabler:device-desktop-analytics',
      },
    ]}
    image={{
      src: '~/assets/images/stats.png',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Other tools to complement Shogun.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get Shogun up and running in your server in just a few steps."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Invite Shogun</span>',
        description:
          "Click on the invite link to invite Shogun to your Discord server.",
        icon: 'tabler:square-rounded-plus-filled',
      },
      {
        title: 'Step 2: <span class="font-medium">Grant necessary permissions</em>',
        description:
          "Grant Shogun the necessary Discord permissions in order to use the commands you want in your server.",
        icon: 'tabler:lock-check',
      },
      {
        title: 'Step 3: <span class="font-medium"></span>',
        description:
          '???',
        icon: 'tabler:help-octagon-filled',
      },
      {
        title: 'Profit',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/steps.png',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="List of Shogun's cogs"
    subtitle="Most used commands and features on Shogun."
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="User Reviews"
	subtitle="Totally serious reviews for Shogun left by the users."
    testimonials={[
      {
        testimonial: 'Cutest and most friendly bot ever 11/10 cuz can nom people',
        name: 'Ayaya',
        job: 'Co-founder',
        image: {
          src: '~/assets/images/ayaya.png',
          alt: 'Ayaya',
        },
      },
      {
        testimonial: `10/10 truly replicates the raiden shogun's dance moves in parties`,
        name: 'BlooBerry',
        job: 'User',
        image: {
          src: '~/assets/images/blooberry.png',
          alt: 'BlooBerry',
        },
      },
      {
        testimonial:
          'nooooooo idk what to say how about',
        name: 'Valeera',
        job: 'User',
        image: {
          src: '~/assets/images/valeera.png',
          alt: 'Valeera',
        },
      },
    ]}
    callToAction={{
      targetBlank: true,
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Common questions that may or may not be asked by our users."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Shogun?',
        description:
          "Because I like Raiden Ei. Should there be any other reason? 🤔",
      },
      {
        title: 'Is my data safe when using Shogun?',
        description:
          'Your user data is only stored on the VPS I am hosting Shogun on. Other than the hosting provider and the provider of the offsite backup (Storj), no one else have access to Shogun\'s operational data.',
      },
      {
        title: 'What\'s the limitation of the music commands?',
        description:
          'Shogun is unable to play from Spotify due to API limitations. Though frankly, if you\'re already using Spotify, why are you even playing music on Discord in the first place.',
      },
      {
        title: "What if there's a problem when using Shogun?",
        description:
          `You can either contact me by using the <code class="text-accent dark:text-white highlight">contact</code> command or
		  reach out via the <span class="text-accent dark:text-white highlight"><a target="_blank" href="https://dsc.gg/transience">Support Server</a></span>.`,
      },
      {
        title: 'Who made Shogun?',
        description:
          "Shogun was founded by <b>Raiden</b> and <b>Ayaya</b>. Shogun\'s codebase is made possible by an open-source project, <b>Red Discord Bot</b>. Most of her features are made by <u>volunteer</u> open-source developers.",
      },
      {
        title: 'This is just Red Bot, what a ripoff!',
        description:
          `Well, yes... I even stated that it is an instance of Red Bot. Which part of it is a ripoff exactly?`,
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Total Users', amount: '5K+' },
      { title: 'Servers', amount: '50+' },
      { title: 'Music Played', amount: '15K+' },
      { title: 'Uptime', amount: '>99%' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Dashboard',
      href: 'https://dash.project-mei.xyz/',
      icon: 'tabler:layout-dashboard',
    }}
  >
    <Fragment slot="title">
      Check out Shogun's Dashboard
    </Fragment>

    <Fragment slot="subtitle">
      The dashboard is a great way to see an overview of the available commands if you're not ready to invite Shogun yet.
    </Fragment>
  </CallToAction>
</Layout>
